<ion-header>
  <ion-toolbar>
    <ion-title>song-catalog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Inspírate con Música
    </ion-list-header>
    <ion-item *ngFor="let song of songList" class="item">
      <ion-avatar slot="start" class="song-img">
        <ion-img [src]="song.header_image_thumbnail_url" alt="Imagen de portada para la canción {{ song.title }}"></ion-img>
      </ion-avatar>
      <ion-label class="song-info">
        <h2>{{ song.title }}</h2>
        <p>
          <span style="font-size: 0.7rem;">Autor: </span> {{ song.primary_artist.name }}
        </p>
        <p>
          Visítala en <a [href]="song.url" target="_blank">genius.com</a>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>