<ion-card>
  <ion-card-header>
    <ion-card-title>Gracias por usar nuestros servicios, disfruta de tus privilegios.</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="./assets/subscription/weightlifting.svg" alt="Imagen motivacional de agradecimiento por los servicios utilizados"
      class="img-logo">
    </ion-img>
    <br/>
    <div class="thx">
      Iconos hechos por <a href="https://www.freepik.com" title="Freepik">Freepik</a> desde <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
  </ion-card-content>
</ion-card>
