<ion-header>
  <ion-toolbar>
    <ion-title>subscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-subscription-options (subscriptionTierOut)="setSubscriptionTier($event)" *ngIf="!enableFeedback"></app-subscription-options>
          <app-subscription-feedback *ngIf="enableFeedback"></app-subscription-feedback>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="onSubscribe()" [disabled]="this.subscriptionTier ? false : true"
            *ngIf="!enableFeedback">
            <ion-icon slot="start" name="star"></ion-icon> Subscribirse Ahora
          </ion-button>

          <ion-button expand="block" (click)="onRouterHome()" [disabled]="this.subscriptionTier ? false : true"
            *ngIf="enableFeedback">
            <ion-icon slot="start" name="home"></ion-icon> Ir al Inicio
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
