<ion-header [translucent]="true">
  <app-name-icon></app-name-icon>
  <ion-toolbar>
    <ion-title> Subscripción </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Subscripción</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <app-subscription-options [subscriptionTier]="currentSubscriptionTier"
          (subscriptionTierOut)="setSubscriptionTier($event)" *ngIf="!enableFeedback"></app-subscription-options>

        <ion-card *ngIf="enableFeedback">
          <ion-card-header>
            <ion-card-title>
              <p>Gracias por usar nuestros servicios, disfruta de tus privilegios.</p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>La siguiente facturación será: </p>
            <br/>
            <ion-img src="./assets/subscription/weightlifting.svg" alt="Imagen motivacional de agradecimiento por los servicios utilizados"
              class="img-logo">
            </ion-img>
            <br/>
            <div class="thx">
              Iconos hechos por <a href="https://www.freepik.com" title="Freepik">Freepik</a> desde <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!enableFeedback">
      <ion-col>
          <ion-button expand="block" (click)="onUpdateSubscribe()" [disabled]="this.subscriptionTier !== currentSubscriptionTier ? false : true">
            <ion-icon slot="start" name="flash-outline"></ion-icon> Actualizar Subscripción
          </ion-button>
      </ion-col>
    </ion-row>
    <hr/>
    <ion-row *ngIf="!enableFeedback">
      <ion-col>
        <ion-button expand="block" fill="outline" color="danger" (click)="onCancelSubscribe()">
            <ion-icon slot="start" name="heart-dislike-outline"></ion-icon> Cancelar Subscripción
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="enableFeedback">
      <ion-col>
        <ion-button expand="block" (click)="onRouterHome()" [disabled]="this.subscriptionTier ? false : true">
            <ion-icon slot="start" name="home"></ion-icon> Ir al Inicio
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
