<ion-header translucent>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingrese su correo electrónico</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>

      <ion-button (click)="recoverPassword()" expand="block">Enviar correo de recuperación</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
