<ion-header [translucent]="true">
  <app-name-icon></app-name-icon>
  <div class="ion-text-center" *ngIf="!loaded">
    <ion-spinner name="dots"></ion-spinner>
  </div>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="loaded">
  <div class="home-center-content">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-items-center ion-text-center">
          <h1>¡Bienvenido!</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img src="./assets/imgs/home_img_1.jpg" alt="Imagen de bienvenida a la aplicación Fitness 4 All" class="home-img"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer *ngIf="loaded">
  <ion-grid *ngIf="!isAdmin && !isCoachTmp">
    <ion-row class="ion-align-items-center ion-text-center">
      <ion-col class="ion-margin-top">
        <ion-button expand="block" *ngIf="isUser" (click)="onUserTrainSession()">
          <ion-icon slot="start" name="trophy"></ion-icon>
          Definir sesiones de entrenamiento
        </ion-button>

        <ion-button expand="block" *ngIf="isCoach" (click)="onCoachTrainSession()">
          <ion-icon slot="start" name="trophy"></ion-icon>
          Explorar sesiones de entrenamiento
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-text-center">
      <ion-col class="ion-margin-top">
        <ion-button expand="block" color="primary" (click)="onPublicStatus()">
          <ion-icon slot="start" name="duplicate"></ion-icon>
          Publicar Estado
        </ion-button>
      </ion-col>
      <ion-col class="ion-margin-top">
        <ion-button expand="block" color="primary" (click)="onMyProfile()">
          <ion-icon slot="start" name="person"></ion-icon>
          Mi Perfil
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="isAdmin">
      <ion-row>
        <ion-col>
          <ion-button expand="block" *ngIf="isAdmin" routerLink="/admin/coach">
            <ion-icon slot="start" name="checkmark-circle"></ion-icon>
            Aprobar Entrenadores
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid *ngIf="isCoachTmp">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Registro en proceso...</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Su registro está siendo procesado, espere que uno de los encargados se comunique con ud.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-footer>
