.home-img {
    width: 70%;
    margin: auto;
    border-radius: 10px !important;
    overflow: hidden;
}

.home-center-content { 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}