<ion-header [translucent]="true">
  <ion-toolbar>
    <app-name-icon></app-name-icon>
    <ion-title class="ion-text-center"> Completa tu perfil </ion-title> <br/>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title> Completa tu perfil </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <!-- <ion-card-header>
      <ion-card-title class="ion-text-center">Completa tu perfil</ion-card-title>
    </ion-card-header> -->

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header class="ion-text-center">
                  <img class="avatar" [src]="profilePhotoURL" />
              </ion-card-header>

              <ion-card-content>
                <app-upload-image source="none" (imageSelected)="imageSelectedEvt($event)" 
                  (uploadFinished)="uploadFinishedEvt($event)"></app-upload-image>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label class="ion-text-center" position="floating">Peso (kg)</ion-label>
              <ion-input [(ngModel)]="user.weight" type="number" inputmode="decimal" min="0"></ion-input>
            </ion-item> <br><br>
            
            <ion-item>
              <ion-label class="ion-text-center" position="floating">Altura (cm)</ion-label>
              <ion-input [(ngModel)]="user.height" type="number" inputmode="decimal" min="0"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="10">
            <ion-item>
              <ion-label class="ion-text-center" position="stacked">Fecha de Nacimiento</ion-label>
              <ion-input [(ngModel)]="user.birthday" type="date"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="10">
            <ion-item>
              <ion-label class="ion-text-center" position="floating">Número de teléfono</ion-label>
              <ion-input [(ngModel)]="user.phoneNumber" type="tel" inputmode="tel"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-item>
              <ion-label class="ion-text-center" position="floating">Nombre</ion-label>
              <ion-input [(ngModel)]="user.name" type="text" inputmode="text"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label class="ion-text-center" position="floating">Apellido</ion-label>
              <ion-input [(ngModel)]="user.lastname" type="text" inputmode="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col *ngIf="userFlag" size="12">
            <ion-item>
              <ion-label class="ion-text-center">Seleccione la dirección de su domicilio</ion-label> <br>
            </ion-item>

            <div style="position: relative">
              <agm-map (centerChange)="newAddress($event)"
                [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      
                <agm-marker [iconUrl]="icons.pointer"
                  [latitude]="centerLocation.latitude" 
                  [longitude]="centerLocation.longitude">
                </agm-marker>
      
              </agm-map>
            </div>
          </ion-col>

          <ion-col *ngIf="!userFlag" size="12">
            <ion-item>
              <ion-label class="ion-text-center">Ingrese sus datos de Zoom</ion-label> <br>
            </ion-item>

            <ion-item>
              <ion-label class="ion-text-center" position="floating">ID meeting</ion-label>
              <ion-input [(ngModel)]="user.zoomIdMeeting" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label class="ion-text-center" position="floating">Password meeting</ion-label>
              <ion-input [(ngModel)]="user.zoomPasswordMeeting" type="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button (click)="completeProfile()" expand="block">Continuar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
