.image-center-content { 
    height: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.center-content { 
    height: 90%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.parent {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.borderSlide {
    width: 70%;
    height: 60vh;
    border: 2px solid #3700ff;
    border-radius: 20px;
}