<ion-header [translucent]="true">
  <app-name-icon></app-name-icon>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="text-align: center;">
    <h2>Reunión online</h2>
    <ion-card>
      <h3>Sesión por zoom con {{user.name}}</h3>
      <app-zoom-meeting meetingType="coach" [meetingNumber]="login.zoomIdMeeting" [meetingPassword]="login.zoomPasswordMeeting" [displayName]="login.name"></app-zoom-meeting>
    </ion-card>
  </div>
  <ion-title>Horarios</ion-title>
  <ion-list *ngFor="let schedule of schedules">
    <ion-item>
      <ion-label>
        <p>{{schedule.day}}, {{schedule.hour_start}} - {{schedule.hour_end}} {{schedule.type}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
